@font-face {
  font-family: "iconfont"; /* Project id 3492508 */
  src: url('iconfont.woff2?t=1656580510188') format('woff2'),
       url('iconfont.woff?t=1656580510188') format('woff'),
       url('iconfont.ttf?t=1656580510188') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-components:before {
  content: "\e8b3";
}

.icon-components-full:before {
  content: "\e8b4";
}

.icon-homeshoucaong:before {
  content: "\e62e";
}

.icon-3dtouchzhiboxiangqingliebiao:before {
  content: "\e60d";
}

.icon-d:before {
  content: "\e625";
}

.icon-wangluotuopu:before {
  content: "\e603";
}

.icon-D:before {
  content: "\e66c";
}

.icon-sanjiaoxing:before {
  content: "\e602";
}

.icon-guanbichakan:before {
  content: "\e688";
}

.icon-chakan_yulan:before {
  content: "\e61e";
}

.icon-bg-combination:before {
  content: "\e638";
}

.icon-combination:before {
  content: "\e67d";
}

.icon-zuhe:before {
  content: "\e61f";
}

.icon-applicationgroup:before {
  content: "\e89e";
}

.icon-3Dzhanshi:before {
  content: "\e651";
}

.icon-nintendo3ds:before {
  content: "\ec32";
}

.icon-sanjiaowangcaozuo:before {
  content: "\ec7d";
}

.icon-chakan:before {
  content: "\e604";
}

.icon-biyanjing:before {
  content: "\e601";
}

.icon-mesh-fill:before {
  content: "\e9f3";
}

.icon-chakan1:before {
  content: "\e605";
}

.icon-outline-3d-cube-scan:before {
  content: "\e6ce";
}

.icon-outline-3d-square:before {
  content: "\e6cf";
}

.icon-a-11Cfenzuzuzhishu:before {
  content: "\e676";
}

